name: Continuous Integration

on:
  workflow_call:

jobs:
  format-build-test:
    name: .NET format, build and test
    runs-on: ubuntu-latest
    env:
      FROMDOPPLER_GITHUB_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.x"
      - name: Verify code format
        run: dotnet format --verify-no-changes
      - name: Build with dotnet
        run: dotnet build --configuration Release
      - name: Test with dotnet
        run: dotnet test --no-build --configuration Release --collect:"XPlat Code Coverage"
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3.1.4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
