name: FromDoppler

on:
  workflow_dispatch:
  push:
    branches: [main, master, develop]
  pull_request:
    branches: [main, master, develop]

jobs:
  conventional-commits:
    if: github.actor != 'renovate'
    name: Conventions
    uses: FromDoppler/.github/.github/workflows/conventions.yml@main
